.login {
    position: relative;
    margin: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    color: #666;
    font: 16px/26px "Raleway", sans-serif;
    text-align: center;
    background: linear-gradient(180deg, rgba(34, 46, 64, 1) 0%, rgba(81, 195, 184, 1) 100%);
    overflow: hidden;
    .login-wrap {
        position: static;
        margin: auto;
        width: 100%;
        height: auto;
        overflow: hidden;
        &:after {
            content: "";
            display: table;
            clear: both;
        }
        #toggle-wrap {
            position: absolute;
            z-index: 4;
            top: 40px;
            right: 17px;
            width: 80px;
            height: 1px;
            #toggle-terms {
                position: absolute;
                z-index: 4;
                right: 0;
                top: 0;
                width: 40px;
                height: 40px;
                margin: auto;
                display: block;
                cursor: pointer;
                background: rgba(0, 0, 0, 0.1);
                border-radius: 100%;
                opacity: 0;
                transform: translate(-6px, 20px);
                box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
                transition: color 0.3s ease;
                &:after {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    pointer-events: none;
                    border-radius: 50%;
                    content: '';
                    box-sizing: content-box;
                    top: 0px;
                    left: 0px;
                    padding: 0;
                    z-index: -1;
                    background: rgba(0, 0, 0, 0.2);
                    transition: transform 0.2s, opacity 0.3s;
                }
                &:before {
                    display: block; // -webkit-font-smoothing: antialiased;
                }
                &:hover {
                    background: rgba(0, 0, 0, 0.4);
                }
                #cross {
                    position: absolute;
                    z-index: 4;
                    height: 100%;
                    width: 100%;
                    transform: rotate(0deg);
                    span {
                        background: #fff;
                        border-radius: 0;
                    }
                    span:nth-child(1) {
                        height: 0;
                        transition-delay: .625s;
                    }
                    span:nth-child(2) {
                        width: 0;
                        transition-delay: .375s;
                    }
                }
            }
            #toggle-terms.closed {
                color: rgba(0, 0, 0, 0.2);
                animation: hide_close .2s .0s 1 ease normal forwards;
                &:after {
                    transform: scale(1.6);
                    opacity: 0;
                }
            }
            #toggle-terms.open {
                animation: show_close .4s .5s 1 ease normal forwards;
                #cross {
                    transition-delay: .9s;
                    transition-duration: .2s;
                    transform: rotate(45deg);
                    span {
                        position: absolute;
                        z-index: 4;
                        transition-delay: 0s;
                        transition-duration: 0s;
                    }
                    span:nth-child(1) {
                        top: 15%;
                        left: 19px;
                        height: 70%;
                        width: 1px;
                    }
                    span:nth-child(2) {
                        left: 15%;
                        top: 19px;
                        width: 70%;
                        height: 1px;
                    }
                }
            }
        }
        .recovery {
            position: absolute;
            z-index: 3;
            margin: 40px 0 0;
            padding: 1.5em 1em;
            width: 100%;
            height: calc(100% - 40px);
            border-radius: 0;
            background: #fff;
            text-align: left;
            overflow: auto;
            will-change: transform;
            transform: translateY(-110%);
            opacity: 0;
            border-radius: 0;
            p {
                margin: 1em 0;
                font-size: .9em;
            }
            h3 {
                margin: 2em 0 .2em;
            }
        }
        .recovery.open {
            transform: translateY(0);
            animation: show_terms .5s .2s 1 ease normal forwards;
        }
        .recovery.closed {
            transform: translateY(0);
            opacity: 1;
            animation: hide_terms .6s .2s 1 ease normal forwards;
        }
        .login-content {
            position: fixed;
            z-index: 1;
            float: none;
            margin: 0 auto;
            width: 100%;
            height: 40px;
            background: linear-gradient(0deg, rgba(62, 181, 169, 1) 0%, rgba(111, 226, 204, 1) 100%);
            box-shadow: none;
            overflow: hidden;
            .login-logo {
                position: absolute;
                z-index: 2;
                top: 0;
                left: 0;
                width: 40px;
                height: 40px;
                background: #4FC1B7;
                img {
                    position: absolute;
                    margin: auto;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    width: 30px;
                }
                a {
                    width: 100%;
                    height: 100%;
                    display: block;
                }
            }
            /* SLIDESHOW */
            #slideshow {
                position: relative;
                margin: 0 auto;
                width: 100%;
                height: 550px;
                padding: 10px;
                border-radius: 10px 0 0 10px;
                h2 {
                    margin: .0em auto .0em auto;
                    text-align: center;
                    font-size: 1.4em;
                    color: #fff;
                    line-height: .5em;
                }
                p {
                    color: #fff;
                    display: none;
                }
                div {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    padding: 1em 3em;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                .one {
                    background-image: url(/manage/images/login/dots.png);
                    background-repeat: no-repeat;
                    background-position: 0% 50%;
                }
                .two {
                    background-image: url(/manage/images/login/gears.png);
                    background-repeat: no-repeat;
                    background-position: 0% 50%;
                }
                .three {
                    background-image: url(/manage/images/login/splat.png);
                    background-repeat: no-repeat;
                    background-position: 0% 50%;
                }
                .four {
                    background-image: url(/manage/images/login/ray.png);
                    background-repeat: no-repeat;
                    background-position: 0% 50%;
                }
            }
            /* FORM ELEMENTS */
        }
        .login-user {
            position: relative;
            z-index: 0;
            float: none;
            margin: 0 auto;
            padding-top: 40px;
            width: 100%;
            height: 100vh;
            overflow: auto;
            background: linear-gradient(42deg, rgba(42, 46, 54, 1) 0%, rgba(97, 107, 125, 1) 100%);
            box-shadow: none;
            border-radius: 0;
            border-top: 1px solid #4FC1B7;
            .form-wrap {
                width: 100%;
                padding: 2em;
                .login-form {
                    text-align: left;
                    input {
                        margin: 0 0 .8em 0;
                        padding: .8em 2em 10px 0;
                        width: 100%;
                        display: inline-block;
                        background: transparent;
                        border: 0;
                        border-bottom: 1px solid #5A6374;
                        outline: 0;
                        box-sizing: border-box;
                        color: inherit;
                        font-family: inherit;
                        color: #fff;
                    }
                    .login-option {
                        position: relative;
                        margin: 1em 0;
                        .login-button {
                            padding: .2em 3em;
                            width: auto;
                            background-color: #28A55F;
                            border: none;
                            color: #fff;
                            cursor: pointer;
                            font-size: .8em;
                            border-radius: 30px;
                            background: linear-gradient(180deg, rgba(105, 221, 201, 1) 0%, rgba(78, 193, 182, 1) 100%);
                            box-shadow: 0px 0px 37px -9px rgba(0, 0, 0, 0.75);
                            outline: none;
                            &:hover {
                                background-color: #4FDA8C;
                            }
                        }
                        a {
                            color: #ccc;
                            padding-bottom: 4px;
                            border-bottom: 1px solid #5FD1C1;
                            &:hover {
                                color: #fff;
                            }
                        }
                        .fa {
                            display: none;
                        }
                        span {
                            position: absolute;
                            right: 0;
                        }
                    }
                } // .help-action {
                //     padding: .4em 0 0;
                //     font-size: .93em;
                //     /*--------------忘记密码------------------*/
                //     a {
                //         color: #ccc;
                //         padding-bottom: 4px;
                //         border-bottom: 1px solid #5FD1C1;
                //         &:hover {
                //             color: #fff;
                //         }
                //     }
                //     .fa {
                //         display: none;
                //     }
                //     p {
                //         text-align: left;
                //     }
                // }
            }
        }
    }
}

@keyframes show_terms {
    0% {
        opacity: 0;
        transform: translateY(-110%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes hide_terms {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-110%);
        opacity: 0;
    }
}

/* MEDIUM VIEWPORT */

@media only screen and (min-width: 40em) {
    .login {
        .login-wrap {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 600px;
            height: 500px;
            margin: auto;
            border-radius: 10px;
            #toggle-wrap {
                top: 60px;
                right: calc(50% + 17px);
                height: 80px;
                overflow: hidden;
                #toggle-terms {
                    opacity: 1;
                    transform: translate(-6px, -100px);
                }
                #toggle-terms.closed {
                    opacity: 1;
                    transform: translate(-6px, 18px);
                }
            }
            #toggle-wrap.closed {
                width: 50%;
            }
            .recovery {
                position: absolute;
                width: 50%;
                height: 440px;
                float: left;
                margin: 60px 0 0;
                box-shadow: -3px 0px 45px -6px rgba(56, 75, 99, 0.61);
                border-radius: 0 0 0 10px;
            }
            .login-content {
                position: relative;
                float: left;
                width: 50%;
                height: 500px;
                box-shadow: -3px 0px 45px -6px rgba(56, 75, 99, 0.61);
                border-radius: 10px 0 0 10px;
                /* LOGO */
                .login-logo {
                    top: 10px;
                    left: 10px;
                    width: 40px;
                    height: 40px;
                    background: none;
                    img {
                        width: 100%;
                    }
                }
                /* SLIDESHOW */
                #slideshow {
                    h2 {
                        margin: 4.5em 0 1em;
                        font-size: 2em;
                        span {
                            padding: 5px 0;
                            border: solid #B6EDE3;
                            border-width: 1px 0;
                        }
                    }
                    p {
                        display: block;
                    }
                    div {
                        background-size: auto;
                    }
                    .one {
                        background-position: 60% 150%;
                    }
                    .two {
                        background-position: 50% 200%;
                    }
                    .three {
                        background-position: 50% 300%;
                    }
                    .four {
                        background-position: -40% -80%;
                    }
                }
            }
            .login-user {
                padding-top: 0;
                float: left;
                width: 50%;
                height: 500px;
                box-shadow: -3px 0px 45px -6px rgba(56, 75, 99, 0.61);
                border-radius: 0 10px 10px 0;
                border: 0;
                .form-wrap {
                    padding: 6.5em 2.5em;
                    ;
                }
            }
        }
    }
    @keyframes show_close {
        0% {
            opacity: 0;
            transform: translate(-6px, -100px);
        }
        100% {
            opacity: 1;
            transform: translate(-6px, 18px);
        }
    }
    @keyframes hide_close {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
}

/* LARGE VIEWPORT */

@media only screen and (min-width: 60em) {
    /* WRAP */
    .login {
        .login-wrap {
            width: 900px;
            height: 550px;
            .recovery {
                height: 490px;
            }
            /* CONTENT */
            .login-content {
                height: 550px;
                /* SLIDESHOW */
                #slideshow {
                    h2 {
                        margin: 4em 0 1em;
                        font-size: 3em;
                    }
                    .four {
                        background-position: -82% -330%;
                    }
                }
            }
            .login-user {
                height: 550px;
                .form-wrap {
                    padding: 8.5em 5em;
                }
            }
        }
    }
}

/*---------------------------修改antd默认样式-----------------------------*/

.login {
    .login-user {
        .ant-select-lg {
            .ant-select-selection--single {
                background: transparent;
                color: white;
            }
        }
        .ant-select-selection {
            border: 0;
            border-bottom: 1px solid #5A6374;
            border-radius: 0;
            padding-bottom: 2px;
            box-sizing: content-box;
        }
        .ant-select-focused .ant-select-selection,
        .ant-select-selection:focus,
        .ant-select-selection:active {
            box-shadow: none
        }
        .ant-select-selection__rendered {
            margin-left: 0;
        }
        .ant-select-arrow {
            color: white
        }
    }
}